* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(205, 180, 219);
    background-position: center;
    background-size: cover;
    font-size: calc(15px + 0.390625vw);
    overflow-x: hidden;
}

.bothSides {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.leftSide, .rightSide {
    width: 50%;
    height: 100vh;
}

.leftSide img, .rightSide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#splitButton {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1; 
    background: none;
    border: none;
    cursor: pointer;
}

.behindText {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: rgb(205, 180, 219);
    background-image: url('back.png');
    z-index: 0;
    color: black;
    font-size: 24px;
    padding: 20px;
    background-image: src="back.png";
}

.leftSide.animateLeft {
    animation: moveLeft 1s forwards;
}

.rightSide.animateRight {
    animation: moveRight 1s forwards;
}

@keyframes moveLeft {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(-100%); opacity: 0; }
}

@keyframes moveRight {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(100%); opacity: 0; }
}

.firstPic {
    width: 100%;
    
}

.center {
    display: block;
   margin-left: auto;
   margin-right: auto;
    width: 100%;
}

.overlay-name {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.firstPicName {
    position: relative;
    text-align: center;
    font-family: 'Apple Chancery', 'Comic Sans MS', 'Brush Script MT', cursive;
    color: white;
    font-size: 200%;
    width: 100%;
    white-space: nowrap;
    display: inline-block;
    border-radius: 25px;
}

.eventDate {
    width: 100%;
    background-position: center;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 200%;
    color: rgb(45, 9, 86);
    border-radius: 25px;
}

.people, .names {
    width: 100%;
    background-position: center;
    background-size: cover;
    font-family: cursive;
    text-align: center;
    font-size: 150%;
    color: rgb(0, 0, 0);
    border-radius: 25px;
}

.names {
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(45, 9, 86);
}

.location1 {
    width: 100%;
    background-color: rgb(211, 190, 246);
    background-position: center;
    background-size: cover;
    text-align: center;
    font-size: 150%;
    color: rgb(45, 9, 86);
    border-radius: 25px;
}
.location1_0 {
    width: 100%;
    background-color: rgb(211, 190, 246);
    background-position: center;
    background-size: cover;
    text-align: center;
    font-size: 150%;
    color: rgb(45, 9, 86);
    border-radius: 25px;
    background-image: url('misa.png');
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Ensures content is aligned to the bottom if there's extra space */
    align-items: center; /* Centers children horizontally */
    padding: 20px; /* Adds some padding for spacing */
}

.location1_0 .button {
    margin-top: auto; /* Pushes the button to the bottom */
}
.location2_0 {
    width: 100%;
    background-color: rgb(211, 190, 246);
    background-position: center;
    background-size: cover;
    text-align: center;
    font-size: 150%;
    color: rgb(45, 9, 86);
    border-radius: 25px;
    background-image: url('recepcion.png');
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Ensures content is aligned to the bottom if there's extra space */
    align-items: center; /* Centers children horizontally */
    padding: 20px; /* Adds some padding for spacing */
}

.location2_0 .button {
    margin-top: auto; /* Pushes the button to the bottom */
}


.button {
    border: 2px solid #8F9F76;
    background-color: #CDD4AD;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50%;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(45, 9, 86);
}
.button:hover{
    background-color: #8F9F76;
}

.title {
    width: 100%;
    
    background-color: rgb(211, 190, 246);
    text-align: center;
    font-size: 200%;
    color: rgb(22, 96, 69);
    -webkit-text-stroke: 1px #062d05;
    border-radius: 25px;
}

ul{
    display: flex;
    justify-content: center;
    padding-top: 42%;
}
li.first-of-type{
    margin-right: 5%;
}
ul li{
    list-style-type: none;
    font-size: 60%;
    text-transform: uppercase;
    
}
li span{
    display: block;
    font-size: 300%;
    color: rgb(63, 22, 96);
}
li.separator{
    font-size: 145%;
    color: rgb(45, 9, 86);
}
.counterText{
    margin: 0 10px;
    font-size: 3rem;
    line-height: 2.5;
    color: rgb(22, 96, 69);
    -webkit-text-stroke: 1px #062d05;
    font-family: cursive;
    font-size: 200%;
}
li:first-of-type{
    margin-right: 5rem;
}
.countdownSec{
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0,7), 
    rgba(4,9,30,0,7), url(images/3e6d867d-0c66-440e-b450-f077b0f494b3.jpg));
    background-color: rgb(211, 190, 246);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    border-radius: 25px;
    background-image: url('time1.png');
    height: 50%;
}
.dressCode .section2 {
    text-align: center;
}

.dressCode .line1 {
    font-size: 200%;
    font-family: cursive;
}

.dressCode .line2 {
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.socialMedia{
    background-color: rgb(211, 190, 246);;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    border-radius: 25px;
}
.socialMedia1{
    background-color: rgb(211, 190, 246);
    background-image: url(pictures.png);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    border-radius: 25px;
    height: 30%;
}
.socialMedia2{
    background-color: rgb(211, 190, 246);;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    border-radius: 25px;
    background-image: url(asistencia.png);
    height: 40%;
}
.line3{
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 150%;
    color: rgb(45, 9, 86);
    border-radius: 25px;
}
